<%- include('partials/headerAdmin', {user: user}) -%>

<main id="main" class="main">
    <div class="pagetitle">
        <h1>Admin Page</h1>
        <nav>
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/admin">Home</a></li>
            <li class="breadcrumb-item active">Dashboard</li>
          </ol>
        </nav>
    </div>

    <!-- Start activity item. functions to show data in descending order and following "x time ago" text-->
    <div class="card-body mb-5">
      <h5 class="card-title  ">Recent Activity <span>| Last 3 days</span></h5>
      <div class="activity">
        <%
        let activityItems = [...spreadsheets, ...repairs]
        activityItems.sort((a, b) => b.createdAt > a.createdAt ? -1 : 1)
        activityItems.reverse()
        if(activityItems.length > 0){
          activityItems.forEach(function(item) {
            let itemDate = new Date(item.createdAt);
            let currentDate = new Date();
            let duration = (currentDate - itemDate) / 1000; // convert milliseconds to seconds
            let unit = "seconds";
            if (duration > 60) {
              duration = duration / 60; // convert seconds to minutes
              unit = "minutes";
            }
            if (duration > 60) {
              duration = duration / 60; // convert minutes to hours
              unit = "hours";
            }
            if (duration > 24) {
              duration = duration / 24; // convert hours to days
              unit = "days";
            }
            duration = Math.floor(duration); // round down to whole number
            if(item.type==='week'){
              var icon = 'text-success'
              var itemType = 'spreadsheet'
            }else {
              var icon = 'text-danger'
              var itemType = 'repair'
            }
            %>
            <div class="activity-item d-flex">
              <div class="activite-label mb-2 mx-1"> <%= duration %> <%= unit %> ago </div>
              <i class='bi bi-circle-fill activity-badge <%=icon%> align-self-start'></i>
              <div class="activity-content mx-1">
                <span class="fw-bold"><%= item.createdBy.userName %></span> created a new <span class="fw-semibold"><%= itemType %></span>
              </div>
            </div><!-- End activity item-->
            <% });
        } else { %>
           <p>No recent activity</p>
        <% } %>
      </div>
    </div>
    <div>
      <iframe  src="https://trafficban.com/plugins/box.html?href=trafficban.com&language=en" scrolling="auto" frameborder="1" style="width:600px;height:500px"></iframe>
    </div>
    
</main>



<%- include('partials/footer') -%>