<%- include('partials/headerAdmin', {user: user}) -%>

<main id="main" class="main">
  <div class="pagetitle">
    <h1>Driver profiles</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/admin">Home</a></li>
        <li class="breadcrumb-item active">Drivers</li>
      </ol>
    </nav>
</div>
    

  <!-- List of drivers -->
  <ul class="row list-unstyled">
    <!-- loop through drivers to show each one created by the logged-in admin -->
      <% for(driver of drivers) {%>
        <li class="col-6 justify-content-between mt-5">
          <a href="/admin/drivers/edit/<%=driver._id%>">
              <p><%= driver.userName%></p>
              <!-- set flag to false -->
              <% var flag = false; %>
              <!-- Loop once more to see which driver has same truckPlate with truck.id -->
              <% for(item of truck) {%>
                <% if(driver.truckId == item.id) {%>
                  <p>Truck assigned: <%=item.plate%></p> 
                  <!-- set flag to true -->
                  <% flag = true; %>
                <% } %>
              <% } %>
              <!-- if flag is false, display message -->
              <% if(!flag) { %>
                <p>No truck assigned</p>
              <% } %>
          </a>

          <!-- delete button for each driver -->
          <form action="/admin/drivers/deleteDriver/<%=driver.id%>?_method=DELETE" method="POST">
              <button  class="btn btn-primary bi bi-trash" aria-hidden="true" type="submit"></button>
          </form>
        </li>
      <% } %>
  </ul>


        <!-- Create new driver link -->
    <a href="/admin/drivers/createDriver" class="btn btn-primary"><i class="bi bi-person-plus"></i> Add Driver</a>
</main>



<a href="/logout">Logout</a>

<%- include('partials/footer') -%>