<%- include('partials/headerAdmin', {user: user}) -%>

<main id="main" class="main">
  <div class="pagetitle">
    <h1>Drivers</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/admin">Home</a></li>
        <li class="breadcrumb-item active">Drivers</li>
      </ol>
    </nav>
</div>
    
  <!-- Create new driver -->
  <a href="/admin/drivers/createDriver" class="btn btn-primary rounded-pill mb-3"><i class="bi bi-person-plus"></i> Add Driver</a>

  <section class="section">
    <div class="row align-items-top">
      
      <% for(driver of drivers) {%>
        <div class="col-xxl-2 col-lg-3 col-md-4 col-sm-6">
          <div class="card h-100 position-relative">
            <a href="/admin/drivers/edit/<%=driver._id%>">
              <%if (driver.image) {%>
                <img src="<%= driver.image %>" alt="Profile" class="card-img-top">
                <%}else{%>
                <img src="/img/profile-img.jpg" alt="Profile" class="card-img-top">
                <% } %>
              <div class="card-body">
                <h5 class="card-title"><%= driver.userName%></h5>
                <% var flag = false; %>
                  <!-- Loop once more to see which driver has same truckPlate with truck.id -->
                  <% for(item of truck) {%>
                    <% if(driver.truckId == item.id) {%>
                      <p>Truck assigned: <%=item.plate%></p> 
                      <!-- set flag to true -->
                      <% flag = true; %>
                    <% } %>
                  <% } %>
                  <!-- if flag is false, display message -->
                  <% if(!flag) { %>
                    <p>No truck assigned</p>
                  <% } %>
                </div>
              </a>
              <form action="/admin/drivers/deleteDriver/<%=driver.id%>?_method=DELETE" method="POST">
                <button  class="btn btn-danger btn-sm bi bi-trash position-absolute rounded-3" style="bottom: 0; right: 0;" aria-hidden="true" type="submit"></button>
              </form>
            </div>
        </div>
      <% } %>
      
    </div>
  </section>
</main>




<%- include('partials/footer') -%>