<%- include('partials/header') -%>
<%- include('partials/adminNav') -%>

<main class="container">
    <h1>Driver profiles</h1>
    <ul class="row list-unstyled">
        <% for(driver of drivers) {%>
          <li class="col-6 justify-content-between mt-5">
            <a href="/admin/drivers/edit/<%=driver._id%>">
                <p><%= driver.userName%></p>
                <% for(item of truck) {%>
                  <% if(driver.truckPlate == item.id) {%>
                    <p>Truck assigned: <%=item.plate%></p> 
                  <% } %>
                <% } %>
            </a>
            <form action="/admin/drivers/deleteDriver/<%=driver.id%>?_method=DELETE" method="POST">
                <button  class="fa fa-trash" aria-hidden="true" type="submit"></button>
            </form>
          </li>
        <% } %>
        </ul>
    <a href="/admin/drivers/createDriver">Create new driver</a>
</main>



<a href="/logout">Logout</a>

<%- include('partials/footer') -%>