<%- include('partials/headerAdmin', {user: user}) -%>

<main id="main" class="main">
    <h1>Edit truck <%=truck.plate%></h1>
    <p>Driver assigned: <%if(driver[0]) {%> 
        <%=driver[0].userName%>
        (<small><a href="/admin/drivers">Assign new driver</a>)</small>
        <% } else {%>
        <p>No driver assigned</p>
        <% } %>
    </p>
    
    <form action="/admin/trucks/edit/<%=truck._id%>?_method=PUT" method="POST">
        <div>
            <label for="type">Type: </label>
            <input type="text" id="type" name="type" value="<%=truck.type%>">
        </div>
        <div>
            <label for="model">Model: </label>
            <input type="text" id="model" name="model" value="<%=truck.model%>">
        </div>
        <div>
            <label for="plate">Plate: </label>
            <input type="text" id="plate" name="plate" value="<%=truck.plate%>">
        </div>
        <div>
            <label for="chassis">Chassis no:</label>
            <input type="text" id="chassis" name="chassis" value="<%=truck.chassis%>">
        </div>
        <div>
            <label for="km">KM (numbers only):</label>
            <input type="text" id="km" name="km" value="<%=truck.km%>">
        </div>
        <div>
            <label for="toRepair">To repair: </label>
            <input type="text" id="toRepair" name="toRepair" value="<%=truck.toRepair%>">
        </div>
        <div>
            <label for="photos">Photos add: </label>
            <input type="text" id="photos" name="photos" value="<%=truck.photos%>">
        </div>
        <div>
            <label for="expireVignette">Vignette expires on: </label>
            <input type="date" id="expireVignette" name="expireVignette" value="<%=truck.expireVignette%>">
        </div>
        <div>
            <label for="expireInsurance">Isurance expires on: </label>
            <input type="date" id="expireInsurance" name="expireInsurance" value="<%=truck.expireInsurance%>">
        </div>
        <div>
            <label for="expireCmr">CMR expires on</label>
            <input type="date" id="expireCmr" name="expireCmr" value="<%=truck.expireCmr%>">
        </div>
        <h5 class="mt-4 fw-bold">Custom options:</h5>
        <% for(option of customOptions) {%>
            <div>
              <input type="hidden" name="customOption<%=option._id%>" value="<%=option._id%>">
              <label for="name<%=option._id%>">Name:</label>
              <input type="text" id="name<%=option._id%>" name="name<%=option._id%>" value="<%=option.name%>">
              <label for="content<%=option._id%>">Info:</label>
              <input type="text" id="content<%=option._id%>" name="content<%=option._id%>" value="<%=option.content%>">
            </div>
        <% } %>

        <button type="submit" class="btn btn-primary">Edit truck</button>
    </form>

    <form action="/admin/trucks/addCustom/<%=truck._id%>" method="POST"><button type="submit" class="btn btn-secondary"><i class="bi bi-plus"></i>Add custom info</button></form>
</main>

<a href="/logout">Logout</a>

<%- include('partials/footer') -%>