<%- include('partials/headerAdmin', {user: user}) -%>

<main id="main" class="main">
    <div class="pagetitle">
        <h1>Overview and edit driver page</h1>
        <nav>
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/admin">Home</a></li>
            <li class="breadcrumb-item"><a href="/admin/drivers">Drivers</a></li>
            <li class="breadcrumb-item active">Edit</li>
          </ol>
        </nav>
    </div>
    

    <section class="section profile">
        <div class="row">
          <div class="col-xl-4">
  
            <div class="card">
                <div class="card-body profile-card pt-4 d-flex flex-column align-items-center pb-1">
                
                  <img src="/img/profile-img.jpg" alt="Profile" class="rounded-circle">
                  <h2><%=driver.userName%></h2>
                  <h3><%=driver.role%></h3>
                  <h6 class="text-muted"><%=truckPlate%></h6>
                  <!-- <div class="social-links mt-2">
                    <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
                    <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
                    <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
                    <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
                  </div> -->
                </div>
                <div class="card-body profile-card pt-0 d-flex flex-column align-items-center">
                    <form action="/admin/drivers/edit/<%=driver._id%>?_method=PUT" method="POST">
                     <div class="row mb-3">
                         <div class=" d-flex align-items-center">
                           <select class="form-select" name = "truckId">
                             <option value="">Assign truck</option>
                             <% for(truck of trucks) {%>
                               <option value="<%=truck._id%>"><%=truck.plate%></option>
                             <% } %>
                               <option value="noTruck">No truck </option>
                           </select>
                           <button type="submit" class="btn btn-primary rounded-3" data-bs-toggle="tooltip" data-bs-placement="top" title="Click to assign"><i class="bi bi-check"></i></button>
                         </div>
                       </div>
                    </form>
                  </div>
            </div>
  
          </div>
  
          <div class="col-xl-8">
  
            <div class="card">
              <div class="card-body pt-3">
                <!-- Bordered Tabs -->
                <ul class="nav nav-tabs nav-tabs-bordered">
  
                  <li class="nav-item">
                    <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-overview">Overview</button>
                  </li>
  
                  <li class="nav-item">
                    <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-edit">Edit Profile</button>
                  </li>
  
                  <!-- <li class="nav-item">
                    <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-settings">Settings</button>
                  </li>
  
                  <li class="nav-item">
                    <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-change-password">Change Password</button>
                  </li> -->
  
                </ul>
                <div class="tab-content pt-2">
  
                  <div class="tab-pane fade show active profile-overview" id="profile-overview">
  
                    <h5 class="card-title">Profile Details</h5>
  
                    <div class="row mb-2">
                      <div class="col-lg-4 col-md-4 label ">Full Name</div>
                      <div class="col-lg-8 col-md-8"><%=driver.userName%></div>
                    </div>
  
                    <div class="row mb-2">
                      <div class="col-lg-4 col-md-4 label">Email</div>
                      <div class="col-lg-8 col-md-8"><%=driver.email%></div>
                    </div>
  
                    <div class="row mb-2">
                      <div class="col-lg-4 col-md-4 label">ID card:</div>
                      <div class="col-lg-6 col-md-8"><%=driver.idCard%></div>
                    </div>
  
                    <div class="row mb-2">
                      <div class="col-lg-4 col-md-4 label">License expiry date: </div>
                      <div class="col-lg-8 col-md-8"><%=driver.expireLicense%></div>
                    </div>
  
                    <div class="row mb-2">
                      <div class="col-lg-4 col-md-4 label">Permit expiry date: </div>
                      <div class="col-lg-8 col-md-8"><%=driver.expirePermit%></div>
                    </div>
  
                    <div class="row mb-2">
                      <div class="col-lg-4 col-md-4 label">ADR (blank if no adr)</div>
                      <div class="col-lg-8 col-md-8"><%=driver.expireAdr%></div>
                    </div>
  
                  </div>
  
                  <div class="tab-pane fade profile-edit pt-3" id="profile-edit">
  
                    <!-- Profile Edit Form -->
                    <form action="/admin/drivers/edit/<%=driver._id%>?_method=PUT" method="POST">
                      <div class="row mb-3">
                        <label for="profileImage" class="col-md-4 col-lg-3 col-form-label">Profile Image</label>
                        <div class="col-md-8 col-lg-9">
                          <img src="/img/profile-img.jpg" alt="Profile">
                          <i class="bi bi-info-circle-fill" data-bs-toggle="tooltip" data-bs-placement="right" title="Only driver can edit his own photo"></i>
                        </div>
                      </div>
  
                      <div class="row mb-3">
                        <label for="userName" class="col-md-4 col-lg-3 col-form-label">Full Name</label>
                        <div class="col-md-8 col-lg-9">
                          <input name="userName" type="text" class="form-control" id="userName" value="<%=driver.userName%>">
                        </div>
                      </div>
  
                      <div class="row mb-3">
                        <label for="email" class="col-md-4 col-lg-3 col-form-label">Email</label>
                        <div class="col-md-8 col-lg-9">
                          <input name="email" type="text" class="form-control " id="email" value="<%=driver.email%>" disabled>
                        </div>
                      </div>
  
                      <div class="row mb-3">
                        <label for="idCard" class="col-md-4 col-lg-3 col-form-label">ID card</label>
                        <div class="col-md-8 col-lg-9">
                          <input name="idCard" type="text" class="form-control" id="idCard" value="<%=driver.idCard%>">
                        </div>
                      </div>
  
                      <div class="row mb-3">
                        <label for="expireLicense" class="col-md-4 col-lg-3 col-form-label">License expiry date</label>
                        <div class="col-md-8 col-lg-9">
                          <input name="expireLicense" type="date" class="form-control" id="expireLicense" value="<%=driver.expireLicense%>">
                        </div>
                      </div>
  
                      <div class="row mb-3">
                        <label for="expirePermit" class="col-md-4 col-lg-3 col-form-label">Permit expiry date</label>
                        <div class="col-md-8 col-lg-9">
                          <input name="expirePermit" type="date" class="form-control" id="expirePermit" value="<%=driver.expirePermit%>">
                        </div>
                      </div>
  
                      <div class="row mb-3">
                        <label for="expireAdr" class="col-md-4 col-lg-3 col-form-label">ADR expiry date</label>
                        <div class="col-md-8 col-lg-9">
                          <input name="expireAdr" type="date" class="form-control" id="expireAdr" value="<%=driver.expireAdr%>">
                        </div>
                      </div>
                      <div class="row mb-3">
                        <label class="col-md-4 col-lg-3 col-form-label">Assign truck</label>
                        <div class="col-md-8 col-lg-9">
                            
                          <select class="form-select" name = "truckId">
                            <option value="">Select truck</option>
                            <% for(truck of trucks) {%>
                              <option value="<%=truck._id%>"><%=truck.plate%></option>
                            <% } %>
                              <option value="noTruck">No truck </option>
                          </select>
                        </div>
                      </div>

  
                      <div class="text-center">
                        <button type="submit" class="btn btn-primary rounded-pill">Save Changes</button>
                      </div>
                    </form><!-- End Profile Edit Form -->
  
                  </div>
  

  
                </div><!-- End Bordered Tabs -->
  
              </div>
            </div>
  
          </div>
        </div>
      </section>
</main>

<a href="/logout">Logout</a>

<%- include('partials/footer') -%>