<%- include('partials/header') -%>
<%- include('partials/adminNav') -%>

<main class="container">
    <h1>Edit Driver <%=driver.userName%></h1>
<!-- Edit driver form, when passed in controller will change only filled inputs -->
    <form action="/admin/drivers/edit/<%=driver._id%>?_method=PUT" method="POST">
        <div>
            <label for="userName">Username: </label>
            <input type="text" id="userName" name="userName" value="<%=driver.userName%>">
        </div>
        <div>
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" value="<%=driver.email%>" disabled>
        </div>
        <div>
            <label for="password">password:</label>
            <input type="password" id="password" name="password" disabled>
        </div>
        <div>
            <label for="idCard">ID card:</label>
            <input type="text" id="idCard" name="idCard" value="<%=driver.idCard%>">
        </div>

        <div>
            <label for="expireLicense">License expire on:</label>
            <input type="date" id="expireLicense" name="expireLicense" value="<%=driver.expireLicense%>">
        </div>
        <div>
            <label for="expireAdr">ADR expires on: </label>
            <input type="date" id="expireAdr" name="expireAdr" value="<%=driver.expireAdr%>">
        </div>
        <div>
            <label for="expirePermit">Permit expires on: </label>
            <input type="date" id="expirePermit" name="expirePermit" value="<%=driver.expirePermit%>">
        </div>
        <!-- Dropdown menu to select from existing trucks -->
        <select class="card-text" name = "truckId">
            <option value="default">Select a truck</option>
          <% for(truck of trucks) {%>
            <option value="<%=truck._id%>"><%=truck.plate%></option>
          <% } %>
          </select>
        <div>
            <label for="role">Role: </label>
            <input type="text" id="role" name="role" value="<%=driver.role%>" disabled>
        </div>

        <button type="submit">Edit driver</button>
    </form>
</main>

<a href="/logout">Logout</a>

<%- include('partials/footer') -%>