<%- include('partials/header') -%>
<%- include('partials/adminNav') -%>

<main class="container">
    <h1>Edit truck <%=truck.plate%></h1>
    <p>Driver assigned: <%=driver[0].userName%> (<small><a href="/admin/drivers">Assign new driver</a>)</small></p>
    
    <form action="/admin/trucks/edit/<%=truck._id%>?_method=PUT" method="POST">
        <div>
            <label for="type">Type: </label>
            <input type="text" id="type" name="type" value="<%=truck.type%>">
        </div>
        <div>
            <label for="model">Model: </label>
            <input type="text" id="model" name="model" value="<%=truck.model%>">
        </div>
        <div>
            <label for="plate">Plate: </label>
            <input type="text" id="plate" name="plate" value="<%=truck.plate%>">
        </div>
        <div>
            <label for="chassis">Chassis no:</label>
            <input type="text" id="chassis" name="chassis" value="<%=truck.chassis%>">
        </div>
        <div>
            <label for="km">KM (numbers only):</label>
            <input type="text" id="km" name="km" value="<%=truck.km%>">
        </div>
        <div>
            <label for="toRepair">To repair: </label>
            <input type="text" id="toRepair" name="toRepair" value="<%=truck.toRepair%>">
        </div>
        <div>
            <label for="photos">Photos add: </label>
            <input type="text" id="photos" name="photos" value="<%=truck.photos%>">
        </div>
        <div>
            <label for="expireVignette">Vignette expires on: </label>
            <input type="date" id="expireVignette" name="expireVignette" value="<%=truck.expireVignette%>">
        </div>
        <div>
            <label for="expireInsurance">Isurance expires on: </label>
            <input type="date" id="expireInsurance" name="expireInsurance" value="<%=truck.expireInsurance%>">
        </div>
        <div>
            <label for="expireCmr">CMR expires on</label>
            <input type="date" id="expireCmr" name="expireCmr" value="<%=truck.expireCmr%>">
        </div>

        <button type="submit">Edit truck</button>
    </form>
</main>

<a href="/logout">Logout</a>

<%- include('partials/footer') -%>