<%- include('partials/headerAdmin', {user: user}) -%>

<main id="main" class="main">
    <h1>Edit Driver <%=driver.userName%></h1>

    <section class="section profile">
        <div class="row">
          <div class="col-xl-4">
  
            <div class="card">
                <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">
                
                  <img src="/img/profile-img.jpg" alt="Profile" class="rounded-circle">
                  <h2><%=driver.userName%></h2>
                  <h3><%=driver.role%></h3>
                  <!-- <div class="social-links mt-2">
                    <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
                    <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
                    <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
                    <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
                  </div> -->
                </div>
                <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">
                    <form action="/admin/drivers/edit/<%=driver._id%>?_method=PUT" method="POST">
                     <div class="row mb-3">
                         <div class=" d-flex align-items-center">
                           <select class="form-select" name = "truckId">
                             <option value="">Assign truck</option>
                             <% for(truck of trucks) {%>
                               <option value="<%=truck._id%>"><%=truck.plate%></option>
                             <% } %>
                               <option value="noTruck">No truck </option>
                           </select>
                           <button type="submit" class="btn btn-primary"><i class="bi bi-check"></i></button>
                         </div>
                       </div>
                    </form>
                  </div>
            </div>
  
          </div>
  
          <div class="col-xl-8">
  
            <div class="card">
              <div class="card-body pt-3">
                <!-- Bordered Tabs -->
                <ul class="nav nav-tabs nav-tabs-bordered">
  
                  <li class="nav-item">
                    <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-overview">Overview</button>
                  </li>
  
                  <li class="nav-item">
                    <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-edit">Edit Profile</button>
                  </li>
  
                  <!-- <li class="nav-item">
                    <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-settings">Settings</button>
                  </li>
  
                  <li class="nav-item">
                    <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-change-password">Change Password</button>
                  </li> -->
  
                </ul>
                <div class="tab-content pt-2">
  
                  <div class="tab-pane fade show active profile-overview" id="profile-overview">
  
                    <h5 class="card-title">Profile Details</h5>
  
                    <div class="row mb-2">
                      <div class="col-lg-4 col-md-4 label ">Full Name</div>
                      <div class="col-lg-8 col-md-8"><%=driver.userName%></div>
                    </div>
  
                    <div class="row mb-2">
                      <div class="col-lg-4 col-md-4 label">Email</div>
                      <div class="col-lg-8 col-md-8"><%=driver.email%></div>
                    </div>
  
                    <div class="row mb-2">
                      <div class="col-lg-4 col-md-4 label">ID card:</div>
                      <div class="col-lg-6 col-md-8"><%=driver.idCard%></div>
                    </div>
  
                    <div class="row mb-2">
                      <div class="col-lg-4 col-md-4 label">License expiry date: </div>
                      <div class="col-lg-8 col-md-8"><%=driver.expireLicense%></div>
                    </div>
  
                    <div class="row mb-2">
                      <div class="col-lg-4 col-md-4 label">Permit expiry date: </div>
                      <div class="col-lg-8 col-md-8"><%=driver.expirePermit%></div>
                    </div>
  
                    <div class="row mb-2">
                      <div class="col-lg-4 col-md-4 label">ADR (blank if no adr)</div>
                      <div class="col-lg-8 col-md-8"><%=driver.expireAdr%></div>
                    </div>
  
                  </div>
  
                  <div class="tab-pane fade profile-edit pt-3" id="profile-edit">
  
                    <!-- Profile Edit Form -->
                    <form action="/admin/drivers/edit/<%=driver._id%>?_method=PUT" method="POST">
                      <div class="row mb-3">
                        <label for="profileImage" class="col-md-4 col-lg-3 col-form-label">Profile Image</label>
                        <div class="col-md-8 col-lg-9">
                          <img src="/img/profile-img.jpg" alt="Profile">
                          <div class="pt-2">
                            <a href="#" class="btn btn-primary btn-sm disabled" title="Upload new profile image"><i class="bi bi-upload"></i></a>
                            <a href="#" class="btn btn-danger btn-sm disabled" title="Remove my profile image"><i class="bi bi-trash"></i></a>
                          </div>
                        </div>
                      </div>
  
                      <div class="row mb-3">
                        <label for="userName" class="col-md-4 col-lg-3 col-form-label">Full Name</label>
                        <div class="col-md-8 col-lg-9">
                          <input name="userName" type="text" class="form-control" id="userName" value="<%=driver.userName%>">
                        </div>
                      </div>
  
                      <div class="row mb-3">
                        <label for="email" class="col-md-4 col-lg-3 col-form-label">Email</label>
                        <div class="col-md-8 col-lg-9">
                          <input name="email" type="text" class="form-control " id="email" value="<%=driver.email%>" disabled>
                        </div>
                      </div>
  
                      <div class="row mb-3">
                        <label for="idCard" class="col-md-4 col-lg-3 col-form-label">ID card</label>
                        <div class="col-md-8 col-lg-9">
                          <input name="idCard" type="text" class="form-control" id="idCard" value="<%=driver.idCard%>">
                        </div>
                      </div>
  
                      <div class="row mb-3">
                        <label for="expireLicense" class="col-md-4 col-lg-3 col-form-label">License expiry date</label>
                        <div class="col-md-8 col-lg-9">
                          <input name="expireLicense" type="date" class="form-control" id="expireLicense" value="<%=driver.expireLicense%>">
                        </div>
                      </div>
  
                      <div class="row mb-3">
                        <label for="expirePermit" class="col-md-4 col-lg-3 col-form-label">Permit expiry date</label>
                        <div class="col-md-8 col-lg-9">
                          <input name="expirePermit" type="date" class="form-control" id="expirePermit" value="<%=driver.expirePermit%>">
                        </div>
                      </div>
  
                      <div class="row mb-3">
                        <label for="expireAdr" class="col-md-4 col-lg-3 col-form-label">ADR expiry date</label>
                        <div class="col-md-8 col-lg-9">
                          <input name="expireAdr" type="date" class="form-control" id="expireAdr" value="<%=driver.expireAdr%>">
                        </div>
                      </div>
                      <div class="row mb-3">
                        <label class="col-sm-2 col-form-label">Assign truck</label>
                        <div class="col-sm-10">
                            
                          <select class="form-select" name = "truckId">
                            <option value="">Select truck</option>
                            <% for(truck of trucks) {%>
                              <option value="<%=truck._id%>"><%=truck.plate%></option>
                            <% } %>
                              <option value="noTruck">No truck </option>
                          </select>
                        </div>
                      </div>

  
                      <div class="text-center">
                        <button type="submit" class="btn btn-primary">Save Changes</button>
                      </div>
                    </form><!-- End Profile Edit Form -->
  
                  </div>
  
                  <div class="tab-pane fade pt-3" id="profile-settings">
  
                    <!-- Settings Form -->
                    <form>
  
                      <div class="row mb-3">
                        <label for="fullName" class="col-md-4 col-lg-3 col-form-label">Email Notifications</label>
                        <div class="col-md-8 col-lg-9">
                          <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="changesMade" checked>
                            <label class="form-check-label" for="changesMade">
                              Changes made to your account
                            </label>
                          </div>
                          <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="newProducts" checked>
                            <label class="form-check-label" for="newProducts">
                              Information on new products and services
                            </label>
                          </div>
                          <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="proOffers">
                            <label class="form-check-label" for="proOffers">
                              Marketing and promo offers
                            </label>
                          </div>
                          <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="securityNotify" checked disabled>
                            <label class="form-check-label" for="securityNotify">
                              Security alerts
                            </label>
                          </div>
                        </div>
                      </div>
  
                      <div class="text-center">
                        <button type="submit" class="btn btn-primary">Save Changes</button>
                      </div>
                    </form><!-- End settings Form -->
  
                  </div>
  
                  <div class="tab-pane fade pt-3" id="profile-change-password">
                    <!-- Change Password Form -->
                    <form>
  
                      <div class="row mb-3">
                        <label for="currentPassword" class="col-md-4 col-lg-3 col-form-label">Current Password</label>
                        <div class="col-md-8 col-lg-9">
                          <input name="password" type="password" class="form-control" id="currentPassword">
                        </div>
                      </div>
  
                      <div class="row mb-3">
                        <label for="newPassword" class="col-md-4 col-lg-3 col-form-label">New Password</label>
                        <div class="col-md-8 col-lg-9">
                          <input name="newpassword" type="password" class="form-control" id="newPassword">
                        </div>
                      </div>
  
                      <div class="row mb-3">
                        <label for="renewPassword" class="col-md-4 col-lg-3 col-form-label">Re-enter New Password</label>
                        <div class="col-md-8 col-lg-9">
                          <input name="renewpassword" type="password" class="form-control" id="renewPassword">
                        </div>
                      </div>
  
                      <div class="text-center">
                        <button type="submit" class="btn btn-primary">Change Password</button>
                      </div>
                    </form><!-- End Change Password Form -->
  
                  </div>
  
                </div><!-- End Bordered Tabs -->
  
              </div>
            </div>
  
          </div>
        </div>
      </section>
</main>

<a href="/logout">Logout</a>

<%- include('partials/footer') -%>