<%- include('partials/headerDriver', {user: user}) -%>

<main id="main" class="main">
  <div class="pagetitle">
    
    <h1>Spreadsheet details </h1>
    
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/driver">Home</a></li>
        <li class="breadcrumb-item"><a href="/driver/spreadsheet">Spreadsheets</a></li>
        <li class="breadcrumb-item"><a href="/driver/spreadsheet/<%=week.id%>">Trips</a></li>
        <li class="breadcrumb-item active">Edit</li>
      </ol>
    </nav>
  </div>
  <h1 class="text-center text-primary"><%= week.startDate%> - <%= week.endDate%></h1>
  <p class="text-muted text-center">(Only you can see this spreadsheet until you will click the "Close week")</p>
    
    <div class="row justify-content-center mt-5">

      <!-- Table to show individual trips made by the driver -->
      <table class="table table-bordered w-auto">
        <thead>
          <tr>
            <th scope="col">Start at</th>
            <th scope="col">Start date</th>
            <th scope="col">End at</th>
            <th scope="col">End Date</th>
            <th scope="col">Km</th>
            <th scope="col">Other costs</th>
            <th scope="col">Fuel</th>
            <th scope="col">Notes</th>
          </tr>
        </thead>
        <tbody>
        <% for(const individual of individuals) {%>
            <%if (individual.id === editTrip.id){%>
                <form action="/driver/spreadsheet/editIndividual/<%= week.id%>/<%= individual.id%>?_method=PUT" method="POST" enctype="multipart/form-data">
                    <tr>
                      <td><input type="text" id="startLoc" name="startLoc" class="form-control form-control-sm" value="<%=individual.startLoc%>"></td>
                      <td><input type="date" id="startDate" name="startDate" class="form-control form-control-sm" value="<%=individual.startDate%>"></td>
                      <td><input type="text" id="endLoc" name="endLoc" class="form-control form-control-sm" value="<%=individual.endLoc%>"></td>
                      <td><input type="date" id="endDate" name="endDate" class="form-control form-control-sm" value="<%=individual.endDate%>"></td>
                      <td><input type="number" id="km" name="km" required class="form-control form-control-sm" placeholder="Nums only" value="<%=individual.km%>"></td>
                      <td><input type="number" id="otherCosts" name="otherCosts" class="form-control form-control-sm" placeholder="Nums only" value="<%=individual.otherCosts%>"></td>
                      <td><input type="number" id="fuel" name="fuel" class="form-control form-control-sm" placeholder="Nums only" value="<%=individual.fuel%>"></td>
                      <td><input type="text" id="notes" name="notes" class="form-control form-control-sm" value="<%=individual.notes%>"></td>
                      <td>      <label for="imageUpload">
                        <i class="bi bi-upload btn btn-sm btn-info"></i>
                      </label>
                      <input type="file" class="form-control" id="imageUpload" name="file" style="display:none;"></td>
                      <td class="text-right"><button type="submit" class="btn btn-primary btn-sm rounded-3" data-bs-toggle="tooltip" data-bs-placement="top" title="Confirm edit"><i class="bi bi-check"></i></button></td>
                      
                    
                    
                  </form>
                  <td>
                  <form action="/driver/spreadsheet/<%= week.id%>" method="GET">
                    <button type="submit" class="btn btn-danger btn-sm rounded-3" data-bs-toggle="tooltip" data-bs-placement="top" title="Cancel edit"><i class="bi bi-x"></i></button>
                  </form>
                </td>
            </tr>
                  <% } else {%>
          <tr>
            <td><%= individual.startLoc%></td>
            <td><%= individual.startDate%></td>
            <td><%= individual.endLoc%></td>
            <td><%= individual.endDate%></td>
            <td><%= individual.km%></td>
            <td><%= individual.otherCosts%></td>
            <td><%= individual.fuel%></td>
            <td><%= individual.notes%></td>
        
          </tr>
          <% } %>
        <% } %>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="4"><strong>Total:</strong> </td>
            <td><strong><%=totalKm%></strong></td>
            <td><strong><%=totalCosts%></strong></td>
            <td><strong><%=totalFuel%></strong></td>
          </tr>
        </tfoot>
      </table>
    </div>
    <% if (!week.completed) { %>
    <form action="/driver/spreadsheet/complete/<%= week.id%>?_method=PUT" method="POST" class="text-center">
      <button type="submit" class="btn btn-danger btn-sm rounded-pill" > Close week</button>
      <i class="bi bi-info-circle-fill" data-bs-toggle="tooltip" data-bs-placement="right" title="Once closed it will be sent to your admin and it can't be updated anymore"></i>
    </form>
    
    
    <small></small>
    <% } %>
</main>


<%- include('partials/footer') -%>