<%- include('partials/header') -%>
<%- include('partials/DriverNav') -%>

<main class="container">
    <h1>Spreadsheet details </h1>
    <h2><%= week.startDate%> - <%= week.endDate%></h2>
    <p>Add details for each individual job:</p>
      <form action="/driver/spreadsheet/createIndividual/<%= week.id%>" method="POST" >
          <div>
              <label for="startLoc">Start location: </label>
              <input type="text" id="startLoc" name="startLoc">
          </div>
          <div>
            <label for="startDate">Start Date: </label>
            <input type="date" id="startDate" name="startDate">
        </div>

          <div>
              <label for="endLoc">End location: </label>
              <input type="text" id="endLoc" name="endLoc">
          </div>
          <div>
            <label for="endDate">End date: </label>
            <input type="date" id="endDate" name="endDate">
        </div>
        <div>
          <label for="km">Kilometers done (numbers only): </label>
          <input type="number" id="km" name="km" required>
        </div>
        <div>
          <label for="fuel">Fuel filled (numbers only): </label>
          <input type="number" id="fuel" name="fuel" >
        </div>
        <div>
          <label for="otherCosts">Other costs, like road taxes (numbers only): </label>
          <input type="number" id="otherCosts" name="otherCosts">
        </div>
        <div>
          <label for="notes">Notes: </label>
          <input type="text" id="notes" name="notes">
        </div>
          <button type="submit">Create trip</button>
      </form>
    <div class="row justify-content-center mt-5">
      <table>
        <tr>
          <th>Start at</th>
          <th>Start date</th>
          <th>End at</th>
          <th>End Date</th>
          <th>Km</th>
          <th>Other costs</th>
          <th>Fuel</th>
          <th>Notes</th>
        </tr>
        <% for(const individual of individuals) {%>
          <tr>
            <td><%= individual.startLoc%></td>
            <td><%= individual.startDate%></td>
            <td><%= individual.endLoc%></td>
            <td><%= individual.endDate%></td>
            <td><%= individual.km%></td>
            <td><%= individual.otherCosts%></td>
            <td><%= individual.fuel%></td>
            <td><%= individual.notes%></td>
          </tr>
        <% } %>
        <tfoot>
          <tr>
            <td colspan="4">Total:</td>
            <td><%=totalKm%></td>
            <td><%=totalCosts%></td>
            <td><%=totalFuel%></td>
          </tr>
        </tfoot>
      </table>
        

    </div>

</main>

<a href="/logout">Logout</a>



<%- include('partials/footer') -%>