<%- include('partials/headerDriver', {user: user}) -%>

<main id="main" class="main">
  <div class="pagetitle">
    
    <h1>Spreadsheet details </h1>
    
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/driver">Home</a></li>
        <li class="breadcrumb-item"><a href="/driver/spreadsheet">Spreadsheets</a></li>
        <li class="breadcrumb-item active">Trips</li>
      </ol>
    </nav>
  </div>
  <h1 class="text-center text-primary"><%= week.startDate%> - <%= week.endDate%></h1>
  <p class="text-muted text-center">(Only you can see this spreadsheet until you will click the "Close week")</p>
    
    <div class="row justify-content-center mt-5">

      <!-- Table to show individual trips made by the driver -->
      <table class="table table-bordered w-auto">
        <thead>
          <tr>
            <th scope="col">Start at</th>
            <th scope="col">Start date</th>
            <th scope="col">End at</th>
            <th scope="col">End Date</th>
            <th scope="col">Km</th>
            <th scope="col">Other costs</th>
            <th scope="col">Fuel</th>
            <th scope="col">Notes</th>
          </tr>
        </thead>
        <tbody>
          <% if (!week.completed) { %>
          <form action="/driver/spreadsheet/createIndividual/<%= week.id%>" method="POST">
          <tr>
            <td><input type="text" id="startLoc" name="startLoc" class="form-control form-control-sm"></td>
            <td><input type="date" id="startDate" name="startDate" class="form-control form-control-sm"></td>
            <td><input type="text" id="endLoc" name="endLoc" class="form-control form-control-sm"></td>
            <td><input type="date" id="endDate" name="endDate" class="form-control form-control-sm"></td>
            <td><input type="number" id="km" name="km" required class="form-control form-control-sm" placeholder="Nums only"></td>
            <td><input type="number" id="otherCosts" name="otherCosts" class="form-control form-control-sm" placeholder="Nums only"></td>
            <td><input type="number" id="fuel" name="fuel" class="form-control form-control-sm" placeholder="Nums only"></td>
            <td><input type="text" id="notes" name="notes" class="form-control form-control-sm"></td>
            <td class="text-right"><button type="submit" class="btn btn-primary btn-sm"><i class="bi bi-plus-lg"></i></button></td>
          </tr>
          
        </form>
        <% } %>
        <% for(const individual of individuals) {%>
          <tr>
            <td><%= individual.startLoc%></td>
            <td><%= individual.startDate%></td>
            <td><%= individual.endLoc%></td>
            <td><%= individual.endDate%></td>
            <td><%= individual.km%></td>
            <td><%= individual.otherCosts%></td>
            <td><%= individual.fuel%></td>
            <td><%= individual.notes%></td>
          </tr>
        <% } %>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="4"><strong>Total:</strong> </td>
            <td><strong><%=totalKm%></strong></td>
            <td><strong><%=totalCosts%></strong></td>
            <td><strong><%=totalFuel%></strong></td>
          </tr>
        </tfoot>
      </table>
    </div>
    <% if (!week.completed) { %>
    <form action="/driver/spreadsheet/complete/<%= week.id%>?_method=PUT" method="POST">
      <button type="submit" class="btn btn-danger btn-sm"><i class="bi bi-check"></i> Close week</button>
    </form>
    
    <small>Once closed it will be sent to your admin and it can't be updated anymore</small>
    <% } %>
</main>

<a href="/logout">Logout</a>


<%- include('partials/footer') -%>