<%- include('partials/headerAdmin', {user: user}) -%>

<main id="main" class="main">
  <div class="pagetitle">
    <h1>Spreadsheet details </h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/admin">Home</a></li>
        <li class="breadcrumb-item"><a href="/admin/spreadsheets">Spreadsheets</a></li>
        <li class="breadcrumb-item active">Trips</li>
      </ol>
    </nav>
  </div>
    <h3 class="text-center text-muted"><%= week.startDate%> - <%= week.endDate%></h3>
    <h4 class="text-center text-muted"><%= week.truckPlate%></h4>
    
    <div class="row justify-content-center mt-5">

      <!-- Table to show details in each individual trips - trips made by drivers -->
      <table class="table table-bordered w-auto">
        <thead>
          <tr>
            <th scope="col">Start at</th>
            <th scope="col">Start date</th>
            <th scope="col">End at</th>
            <th scope="col">End Date</th>
            <th scope="col">Km</th>
            <th scope="col">Other costs</th>
            <th scope="col">Fuel</th>
            <th scope="col">Notes</th>
            <th scope="col">POD</th>
          </tr>
        </thead>
        <tbody>
          
        </form>
        <% for(const individual of individuals) {%>
          <tr>
            <td><%= individual.startLoc%></td>
            <td><%= individual.startDate%></td>
            <td><%= individual.endLoc%></td>
            <td><%= individual.endDate%></td>
            <td><%= individual.km%></td>
            <td><%= individual.otherCosts%></td>
            <td><%= individual.fuel%></td>
            <td><%= individual.notes%></td>
            <td>
              <div >
                <i  class="bi bi-card-image btn btn-secondary btn-sm expand-icon"></i>
                <img src="<%=individual.image%>" class="img-fluid expand-img" style="display:none">
              </div>
            </td>
          </tr>
        <% } %>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="4"><strong>Total:</strong> </td>
            <td><strong><%=totalKm%></strong></td>
            <td><strong><%=totalCosts%></strong></td>
            <td><strong><%=totalFuel%></strong></td>
          </tr>
        </tfoot>
      </table>
        

    </div>

</main>


<a href="/logout">Logout</a>



<%- include('partials/footer') -%>