<%- include('partials/headerAdmin', {user: user}) -%>

<main id="main" class="main">
    <div class="pagetitle">
        <h1>Profile</h1>
        <nav>
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/admin">Home</a></li>
            <li class="breadcrumb-item active">Profile</li>
          </ol>
        </nav>
    </div>

    <section class="section profile">
        <div class="row">
          <div class="col-xl-4">
  
            <div class="card">
                <div class="card-body profile-card pt-4 d-flex flex-column align-items-center pb-1">
                
                  <img src="/img/profile-img.jpg" alt="Profile" class="rounded-circle">
                  <h2><%=user.userName%></h2>
                  <h3><%=user.role%></h3>
                  <!-- <div class="social-links mt-2">
                    <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
                    <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
                    <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
                    <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
                  </div> -->
                </div>

            </div>
  
          </div>
  
          <div class="col-xl-8">
  
            <div class="card">
              <div class="card-body pt-3">
                <!-- Bordered Tabs -->
                <ul class="nav nav-tabs">
                  <li class="nav-item">
                    <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-overview">Overview</button>
                  </li>
                  <li class="nav-item">
                    <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-edit">Edit Profile</button>
                  </li>
                  <li class="nav-item">
                    <% if (companyExist) { %>
                      <button class="nav-link" data-bs-toggle="tab" data-bs-target="#company-edit">Edit company</button>
                    <% } else { %>
                      <button class="nav-link" data-bs-toggle="tab" data-bs-target="#company-create">Create company</button>
                    <% } %>
                  </li>
                </ul>
                <div class="tab-content pt-2">
  
                  <div class="tab-pane fade show active profile-overview" id="profile-overview">
  
                    <h5 class="card-title">Profile Details</h5>
  
                    <div class="row mb-2">
                      <div class="col-lg-4 col-md-4 label ">Full Name</div>
                      <div class="col-lg-8 col-md-8"><%=user.userName%></div>
                    </div>
  
                    <div class="row mb-2">
                      <div class="col-lg-4 col-md-4 label">Email</div>
                      <div class="col-lg-8 col-md-8"><%=user.email%></div>
                    </div>
  
                    <div class="row mb-2">
                      <div class="col-lg-4 col-md-4 label">Job:</div>
                      <div class="col-lg-6 col-md-8"><%=user.role%></div>
                    </div>
                    
                    <% if (companyExist) { %>
                        <h5 class="card-title mt-4">Company Details</h5>
                        <div class="row mb-2">
                          <div class="col-lg-4 col-md-4 label ">Company name</div>
                          <div class="col-lg-8 col-md-8"><%= company[0].name %></div>
                        </div>
                      
                        <div class="row mb-2">
                          <div class="col-lg-4 col-md-4 label ">Address</div>
                          <div class="col-lg-8 col-md-8"><%= company[0].address %></div>
                        </div>
                      
                        <div class="row mb-2">
                          <div class="col-lg-4 col-md-4 label ">VAT</div>
                          <div class="col-lg-8 col-md-8"><%= company[0].vat %></div>
                        </div>
                      
                        <div class="row mb-2">
                          <div class="col-lg-4 col-md-4 label ">Contact name</div>
                          <div class="col-lg-8 col-md-8"><%= company[0].contactName %></div>
                        </div>
                      
                        <div class="row mb-2">
                          <div class="col-lg-4 col-md-4 label ">Phone</div>
                          <div class="col-lg-8 col-md-8"><%= company[0].contactPhone %></div>
                        </div>
                      
                        <div class="row mb-2">
                          <div class="col-lg-4 col-md-4 label ">Email</div>
                          <div class="col-lg-8 col-md-8"><%= company[0].contactEmail %></div>
                        </div>
                      <% } else { %>
                        <p>No company created</p>
                      <% } %>

                  </div>
  
                  <div class="tab-pane fade profile-edit pt-3" id="profile-edit">
  
                    <!-- Profile Edit Form -->
                    <form action="/admin/profile/edit?_method=PUT" method="POST">
                      <div class="row mb-3">
                        <label for="profileImage" class="col-md-4 col-lg-3 col-form-label">Profile Image</label>
                        <div class="col-md-8 col-lg-9">
                          <img src="/img/profile-img.jpg" alt="Profile">
                          <div class="pt-2">
                            <a href="#" class="btn btn-primary btn-sm disabled" title="Upload new profile image"><i class="bi bi-upload"></i></a>
                            <a href="#" class="btn btn-danger btn-sm disabled" title="Remove my profile image"><i class="bi bi-trash"></i></a>
                          </div>
                        </div>
                      </div>
  
                      <div class="row mb-3">
                        <label for="userName" class="col-md-4 col-lg-3 col-form-label">Full Name</label>
                        <div class="col-md-8 col-lg-9">
                          <input name="userName" type="text" class="form-control" id="userName" value="<%=user.userName%>">
                        </div>
                      </div>
  
                      <div class="row mb-3">
                        <label for="email" class="col-md-4 col-lg-3 col-form-label">Email</label>
                        <div class="col-md-8 col-lg-9">
                          <input name="email" type="text" class="form-control " id="email" value="<%=user.email%>" disabled>
                        </div>
                      </div>
  
                      <div class="row mb-3">
                        <label for="idCard" class="col-md-4 col-lg-3 col-form-label">ID card</label>
                        <div class="col-md-8 col-lg-9">
                          <input name="idCard" type="text" class="form-control" id="idCard" value="<%=user.role%>" disabled>
                        </div>
                      </div>
  

  
                      <div class="text-center">
                        <button type="submit" class="btn btn-primary">Save Changes</button>
                      </div>
                    </form><!-- End Profile Edit Form -->
  
                  </div>

                  
                    <% if (companyExist) { %>
                      <div class="tab-pane fade profile-edit pt-4" id="company-edit">
                        <form action="/admin/profile/editCompany?_method=PUT" method="POST">
                            <div class="row mb-3">
                              <label for="profileImage" class="col-md-4 col-lg-3 col-form-label">Company logo</label>
                              <div class="col-md-8 col-lg-9">
                                <img src="/img/news-1.jpg" alt="Profile">
                                <div class="pt-2">
                                  <a href="#" class="btn btn-primary btn-sm disabled" title="Upload new profile image"><i class="bi bi-upload"></i></a>
                                  <a href="#" class="btn btn-danger btn-sm disabled" title="Remove my profile image"><i class="bi bi-trash"></i></a>
                                </div>
                              </div>
                            </div>
        
                            <div class="row mb-3">
                              <label for="name" class="col-md-4 col-lg-3 col-form-label">Company name</label>
                              <div class="col-md-8 col-lg-9">
                                <input name="name" type="text" class="form-control" id="name" value="<%=company[0].name%>">
                              </div>
                            </div>
        
                            <div class="row mb-3">
                              <label for="address" class="col-md-4 col-lg-3 col-form-label">Address</label>
                              <div class="col-md-8 col-lg-9">
                                <input name="address" type="text" class="form-control " id="address" value="<%=company[0].address%>" >
                              </div>
                            </div>
        
                            <div class="row mb-3">
                              <label for="vat" class="col-md-4 col-lg-3 col-form-label">VAT number</label>
                              <div class="col-md-8 col-lg-9">
                                <input name="vat" type="text" class="form-control" id="vat" value="<%=company[0].vat%>">
                              </div>
                            </div>

                            <div class="row mb-3">
                                <label for="contactName" class="col-md-4 col-lg-3 col-form-label">Contact</label>
                                <div class="col-md-8 col-lg-9">
                                  <input name="contactName" type="text" class="form-control" id="contactName" value="<%=company[0].contactName%>">
                                </div>
                            </div>

                            <div class="row mb-3">
                                <label for="contactPhone" class="col-md-4 col-lg-3 col-form-label">Contact nr</label>
                                <div class="col-md-8 col-lg-9">
                                  <input name="contactPhone" type="text" class="form-control" id="contactPhone" value="<%=company[0].contactPhone%>">
                                </div>
                            </div>

                            <div class="row mb-3">
                                <label for="contactEmail" class="col-md-4 col-lg-3 col-form-label">Contact email:</label>
                                <div class="col-md-8 col-lg-9">
                                  <input name="contactEmail" type="text" class="form-control" id="contactEmail" value="<%=company[0].contactEmail%>">
                                </div>
                            </div>
        
      
        
                            <div class="text-center">
                              <button type="submit" class="btn btn-primary">Save Changes</button>
                            </div>
                          </form><!-- End Profile Edit Form -->
                        </div>
                          <% } else { %>
                            <div class="tab-pane fade profile-edit pt-4" id="company-create">
                      <form action="/admin/profile/createCompany" method="POST">
                        <div class="row mb-3">
                            <label for="name" class="col-md-4 col-lg-3 col-form-label">Company name</label>
                            <div class="col-md-8 col-lg-9">
                              <input name="name" type="text" class="form-control" id="name">
                            </div>
                        </div>
      
                        <div class="row mb-3">
                            <label for="address" class="col-md-4 col-lg-3 col-form-label">Address</label>
                            <div class="col-md-8 col-lg-9">
                              <input name="address" type="text" class="form-control " id="address" >
                            </div>
                        </div>
      
                        <div class="row mb-3">
                            <label for="vat" class="col-md-4 col-lg-3 col-form-label">VAT number</label>
                            <div class="col-md-8 col-lg-9">
                              <input name="vat" type="text" class="form-control" id="vat" >
                            </div>
                        </div>

                        <div class="row mb-3">
                              <label for="contactName" class="col-md-4 col-lg-3 col-form-label">Contact</label>
                              <div class="col-md-8 col-lg-9">
                                <input name="contactName" type="text" class="form-control" id="contactName" >
                              </div>
                        </div>

                        <div class="row mb-3">
                              <label for="contactPhone" class="col-md-4 col-lg-3 col-form-label">Contact nr</label>
                              <div class="col-md-8 col-lg-9">
                                <input name="contactPhone" type="text" class="form-control" id="contactPhone" >
                              </div>
                        </div>

                        <div class="row mb-3">
                              <label for="contactEmail" class="col-md-4 col-lg-3 col-form-label">Contact email:</label>
                              <div class="col-md-8 col-lg-9">
                                <input name="contactEmail" type="text" class="form-control" id="contactEmail">
                              </div>
                        </div>
                
                        <div class="text-center">
                            <button type="submit" class="btn btn-primary">Add company</button>
                        </div>
                    </form>
                  </div>
                    <% } %>
                  

                  
  

  
                </div><!-- End Bordered Tabs -->
  
              </div>
            </div>
  
          </div>
        </div>
      </section>
    
</main>



<%- include('partials/footer') -%>