<%- include('partials/headerAdmin', {user: user}) -%>

<main id="main" class="main">
    <div class="pagetitle">
        <h1>Profile</h1>
        <nav>
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/admin">Home</a></li>
            <li class="breadcrumb-item active">Profile</li>
          </ol>
        </nav>
    </div>

    <section class="section profile">
        <div class="row">
          <div class="col-xl-4">
  
            <div class="card">
                <div class="card-body profile-card pt-4 d-flex flex-column align-items-center pb-1">
                
                  <%if (user.image) {%>
                    <img src="<%= user.image %>" alt="Profile">
                    <%}else{%>
                    <img src="/img/profile-img.jpg" alt="Profile">
                    <% } %>
                  <h2><%=user.userName%></h2>
                  <h3><%=user.role%></h3>
                  <!-- <div class="social-links mt-2">
                    <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
                    <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
                    <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
                    <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
                  </div> -->
                </div>

            </div>
  
          </div>
  
          <div class="col-xl-8">
  
            <div class="card">
              <div class="card-body pt-3">
                <!-- Bordered Tabs -->
                <ul class="nav nav-tabs">
                  <li class="nav-item">
                    <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-overview">Overview</button>
                  </li>
                  <li class="nav-item">
                    <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-edit">Edit Profile</button>
                  </li>
                  
                </ul>
                <div class="tab-content pt-2">
  
                  <div class="tab-pane fade show active profile-overview" id="profile-overview">
  
                    <h5 class="card-title">Profile Details</h5>
  
                    <div class="row mb-2">
                      <div class="col-lg-4 col-md-4 label ">Full Name</div>
                      <div class="col-lg-8 col-md-8"><%=user.userName%></div>
                    </div>
  
                    <div class="row mb-2">
                      <div class="col-lg-4 col-md-4 label">Email</div>
                      <div class="col-lg-8 col-md-8"><%=user.email%></div>
                    </div>
  
                    <div class="row mb-2">
                      <div class="col-lg-4 col-md-4 label">Job:</div>
                      <div class="col-lg-6 col-md-8"><%=user.role%></div>
                    </div>
                    
                    
                  </div>
  
                  <div class="tab-pane fade profile-edit pt-3" id="profile-edit">

                      <!-- Form to edit photo, it has an event listener to auto upload once selected -->



                    <!-- Profile Edit Form -->
                    
                      <div class="row mb-3">
                        <label for="profileImage" class="col-md-4 col-lg-3 col-form-label">Profile Image</label>
                        <div class="col-md-8 col-lg-9">
                          <%if (user.image) {%>
                          <img src="<%= user.image %>" alt="Profile">
                          <%}else{%>
                          <img src="/img/profile-img.jpg" alt="Profile">
                          <% } %>
                          <div class="pt-2">

                            <div class="d-flex">

                                    <!-- Form to edit photo, it has an event listener to auto upload once selected -->
                            <form action="/driver/profile/edit?_method=PUT" method="POST" enctype="multipart/form-data" id="uploadForm">
                              <label for="imageUpload" >
                                <i class="bi bi-upload btn btn-sm btn-primary"></i>
                              </label>
                              <input type="file" class="form-control" id="imageUpload" name="file" style="display:none;" required>
                              <input type="submit" value="Upload" style="display:none;">
                            </form>

                                  <!-- Form to delete photo -->
                            <form action="/driver/profile/delete?_method=PUT" method="POST"  id="deleteForm">
                              <label for="deleteForm" class="ml-2">
                                <button class="btn btn-sm btn-danger"><i class="bi bi-trash"></i></button>
                              </label>
                              
                            </form>
                          </div>
                          </div>
                        </div>
                      </div>


                              <!-- Form to edit rest of admin -->
                      <form action="/admin/profile/edit?_method=PUT" method="POST">
                      <div class="row mb-3">
                        <label for="userName" class="col-md-4 col-lg-3 col-form-label">Full Name</label>
                        <div class="col-md-8 col-lg-9">
                          <input name="userName" type="text" class="form-control" id="userName" value="<%=user.userName%>">
                        </div>
                      </div>
  
                      <div class="row mb-3">
                        <label for="email" class="col-md-4 col-lg-3 col-form-label">Email</label>
                        <div class="col-md-8 col-lg-9">
                          <input name="email" type="text" class="form-control " id="email" value="<%=user.email%>" disabled>
                        </div>
                      </div>
  
                      <div class="row mb-3">
                        <label for="role" class="col-md-4 col-lg-3 col-form-label">Role</label>
                        <div class="col-md-8 col-lg-9">
                          <input name="role" type="text" class="form-control" id="role" value="<%=user.role%>" disabled>
                        </div>
                      </div>
  

  
                      <div class="text-center">
                        <button type="submit" class="btn btn-primary rounded-pill">Save Changes</button>
                      </div>
                    </form><!-- End Profile Edit Form -->
                  </div>

                  
                    
                  

                  
  

  
                </div><!-- End Bordered Tabs -->
  
              </div>
            </div>
  
          </div>
        </div>
      </section>
    
</main>



<%- include('partials/footer') -%>