<%- include('partials/headerDriver', {user: user}) -%>

<main id="main" class="main">
  <div class="pagetitle">

    <h1>Create weekly spreadsheet</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/driver">Home</a></li>
        <li class="breadcrumb-item active">Spreadsheets</li>
      </ol>
    </nav>
  </div>
    <!-- Form to create weekly spreadsheet -->
    <div class="d-flex ">
    <div class="col-lg-4 col-sm-6 col-xl-3">
      <h5 class="card-title text-center">Select dates (recommended weekly)</h5>

      <div class="card">
        <div class="card-body">

          <form action="/driver/spreadsheet/createWeek/" method="POST">
              <div class="row my-3">
                <label for="startDate" class="col-sm-3 col-form-label">Start</label>
                <div class="col-sm-9">
                  <input type="date" id="startDate" name="startDate" required class="form-control">
                </div>
              </div>
              <div class="row mb-3">
                <label for="endDate" class="col-sm-3 col-form-label">End</label>
                <div class="col-sm-9">
                  <input type="date" id="endDate" name="endDate" required class="form-control">
                </div>
              </div>
            
              <div class="col-sm-12 text-center">
                <button type="submit" class="btn btn-primary rounded-pill "><i class="bi bi-check-lg"></i> </button>
              </div>
          </form>
        </div>
      </div>
    </div>
  </div>
      <!-- Loop to show all spreadsheets created by the driver (separated into completed or not completed) -->
        
        <section class="section ">

          
          <div class="row align-items-top d-flex">
            <h5 class="mt-4 text-danger mx-5">Ongoing </h5>
            <% for(week of notCompleted) {%>
              <div class="col-lg-3 col-md-4 col-sm-6">
                <% const options = {  year: 'numeric', month: 'numeric', day: 'numeric', separator: '.' }; %>
                <div class="card">
                  <a href="/driver/spreadsheet/<%= week._id%>">
                    <div class="card-body">
                      <h5 class="card-title"><%= week.startDate%> - <%= week.endDate%></h5>
                      <small class="text-muted">
                        Created on: <%= week.createdAt.toLocaleDateString('en-GB', options) %>
                      </small>
                    </div>
                  </a>
                  <form action="/driver/spreadsheet/delete/<%=week.id%>?_method=DELETE" method="POST">
                    <button  class="btn btn-danger btn-sm bi bi-trash position-absolute rounded-3" style="bottom: 0; right: 0;" aria-hidden="true" type="submit"></button>
                  </form>
                </div>
              </div>
            <% } %>
          </div>
        </section>
        
        <section class="section">

          <h5 class="mt-4 text-muted mx-5">Completed</h5>
          <div class="row align-items-top d-flex">
            <% for(week of completed) {%>
              <div class="col-lg-3 col-md-4 col-sm-6">
                <% const options = {  year: 'numeric', month: 'numeric', day: 'numeric', separator: '.' }; %>
                <div class="card">
                  <a href="/driver/spreadsheet/<%= week._id%>">
                    <div class="card-body">
                      <h5 class="card-title"><%= week.startDate%> - <%= week.endDate%></h5>
                      <small class="text-muted">
                        Created on: <%= week.createdAt.toLocaleDateString('en-GB', options) %>
                      </small>
                    </div>
                  </a>
                  <form action="/driver/spreadsheet/delete/<%=week.id%>?_method=DELETE" method="POST">
                    <button  class="btn btn-danger btn-sm bi bi-trash position-absolute rounded-3" style="bottom: 0; right: 0;" aria-hidden="true" type="submit"></button>
                  </form>
                </div>
              </div>
            <% } %>
          </div>
        </section>
  
</main>

<a href="/logout">Logout</a>

<%- include('partials/footer') -%>