<%- include('partials/headerAdmin', {user: user}) -%>

<main id="main" class="main">
  <h1>Spreadsheets:</h1>
  <!-- Loop and show all spreadsheets from all it's drivers -->
  <ul class="list-unstyled">
      <% for(week of weekly) {%>
        <li class="col-6 justify-content-between mt-3">
          <p class="my-0"><%=week.userName%> - <%=week.truckPlate%>: </p>
          <a href="/admin/spreadsheet/<%= week._id%>"> 
            <p class="my-0"><%=week.startDate%> - <%= week.endDate%></p>  
          </a>
        </li>
      <% } %>
  </ul>
</main>

<a href="/logout">Logout</a>

<%- include('partials/footer') -%>