<%- include('partials/headerAdmin', {user: user}) -%>

<main id="main" class="main">

  <div class="pagetitle">
    <h1>Spreadsheets:</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/admin">Home</a></li>
        <li class="breadcrumb-item active">Spreadsheets</li>
      </ol>
    </nav>
</div>
  
  <!-- Loop and show all spreadsheets from all it's drivers -->

  <section class="section">
    <div class="row align-items-top">
      <% for(week of weekly) {%>
        <div class="col-lg-3 col-md-4 col-sm-6">
          <% const options = {  year: 'numeric', month: 'numeric', day: 'numeric', separator: '.' }; %>
          <div class="card h-100">
            <a href="/admin/spreadsheet/<%= week._id%>">
            <div class="card-body">
              <h5 class="card-title"><%= week.startDate%> - <%= week.endDate%></h5>
              <ul class="list-group">
                <li class="list-group-item">Created by: <%= week.userName%> </li>
                <li class="list-group-item">Truck plate: <%= week.truckPlate%></li>
              </ul><!-- End Default List group -->
            </div>
            
            </a>
            <div class="card-footer">
              <small class="text-muted">
                Created on: <%= week.createdAt.toLocaleDateString('en-GB', options) %>
              </small>
            </div>
          </div>
    
        </div>
      <% } %>
    </div>
  </section>
</main>

<%- include('partials/footer') -%>