<%- include('partials/headerDriver', {user: user}) -%>

<main id="main" class="main">
  <div class="pagetitle">

    <h1>Create weekly spreadsheet</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/driver">Home</a></li>
        <li class="breadcrumb-item active">Spreadsheets</li>
      </ol>
    </nav>
    <p>Select the dates for which you want to create the spreadsheet (recommended weekly):</p>

    <!-- Form to create weekly spreadsheet -->
    <form action="/driver/spreadsheet/createWeek/" method="POST">
        <div>
            <label for="startDate">Start: </label>
            <input type="date" id="startDate" name="startDate" required>
        </div>
        <div>
            <label for="endDate">End: </label>
            <input type="date" id="endDate" name="endDate" required>
        </div>
        <button type="submit">Create New Weekly Spreadsheet</button>
    </form>

    <div>
      <!-- Loop to show all spreadsheets created by the driver -->
        <h2>Created spreadsheets:</h2>
        <ul class="list-unstyled">
          <% for(week of weekly) {%>
            <li class="col-6 justify-content-between mt-1">
              <a href="/driver/spreadsheet/<%= week._id%>">
                <%= week.startDate%> - <%= week.endDate%>
              </a>
            </li>
          <% } %>
          </ul>
      </div>
  </div>
</main>

<a href="/logout">Logout</a>

<%- include('partials/footer') -%>