<%- include('partials/header') -%>
<%- include('partials/adminNav') -%>

<main class="container">
    <h1>Spreadsheets:</h1>
    <ul class="list-unstyled">
        <% for(var i=0; i<weekly.length; i++) {%>
          <li class="col-6 justify-content-between mt-1">
            <a href="/admin/spreadsheet/<%= weekly[i]._id%>">
              <%= weekly[i].startDate%> - <%= weekly[i].endDate%>
            </a>
          </li>
        <% } %>
    </ul>
</main>

<a href="/logout">Logout</a>

<%- include('partials/footer') -%>