<%- include('partials/headerAdmin', {user: user}) -%>

<main id="main" class="main">

  <div class="pagetitle">
    <h1>To repair:</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/admin">Home</a></li>
        <li class="breadcrumb-item active">To repair</li>
      </ol>
    </nav>
</div>
    
<div class="col-lg-6 col-md-8">
  <ul class="list-group">
    <% for (const repair of repairs) { %>
      <li class="list-group-item <%= repair.completed ? 'completed' : '' %>">
        <input class="form-check-input me-1" type="checkbox" value="<%= repair._id %>" <%= repair.completed ? 'checked' : '' %>>
        <%= repair.content %> - <%= repair.truckPlate %>
      </li>
    <% } %>
  </ul>
</div>

</main>

<a href="/logout">Logout</a>

<%- include('partials/footer') -%>