<%- include('partials/headerDriver', {user: user}) -%>

<main id="main" class="main">
  <div class="pagetitle">


    <h1>What needs to be repaired on this truck</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/driver">Home</a></li>
        <li class="breadcrumb-item active">To Repair</li>
      </ol>
    </nav>
  </div>

  <form action="/driver/repairs" method="POST">
    <div class="form-group">
      <label for="content">Repair note: </label>
      <input type="text" id="content" name="content">
      <button type="submit" class="btn btn-primary btn-sm"><i class="bi bi-plus-lg"></i></button>
    </div>
  </form>

  <div class="col-lg-6 col-md-8 mt-3">
    <ul class="list-group">
      <% for (const repair of repairs) { %>
        <li class="list-group-item <%= repair.completed ? 'completed' : '' %>">
          <%= repair.content %> - <%= repair.truckPlate %>
        </li>
      <% } %>
    </ul>
  </div>
</main>





<%- include('partials/footer') -%>