<%- include('partials/header') -%>
<%- include('partials/adminNav') -%>

<main class="container">
    <h1>To repair:</h1>
    <ul>
        <% for (const repair of repairs) { %>
          <li class="<%= repair.completed ? 'completed' : '' %>">
            <input type="checkbox" value="<%= repair._id %>" <%= repair.completed ? 'checked' : '' %>>
            <%= repair.content %> - <%= repair.truckPlate %>
          </li>
        <% } %>
      </ul>

</main>

<a href="/logout">Logout</a>
<script src="/js/main.js"></script>
<%- include('partials/footer') -%>