<%- include('partials/headerAdmin', {user: user}) -%>

<main id="main" class="main">

  <div class="pagetitle">
    <h1>Repairs</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/admin">Home</a></li>
        <li class="breadcrumb-item active">Repairs</li>
      </ol>
    </nav>
</div>
<form action="/admin/repairs/filter?_method=GET" method="POST">
  <div class="row align-items-top">
    <div class="col-lg-2 col-md-4 col-sm-6">
 
      <div class="card"> 
        
          <select class="form-select" name = "truckId">
            <option value="">Select truck</option>
            <% for(truck of trucks) {%>
            <option value="<%=truck._id%>"><%=truck.plate%></option>
            <% } %>
            
          </select>
          <button type="submit" class="btn btn-primary rounded-3 btn-sm mt-1" ><i class="bi bi-check"> Filter</i></button>
      </div>
      
    </div>
    </div>
    
  </form>

    <!-- Repair list with checkbox -->
<div class="col-lg-3 col-md-8">
  <h5 class="text-danger text-center">To repair:</h5>
  <ul class="list-group">
    <% for (const repair of repairs) { %>
      
      <% if (!repair.completed){ %>
        
      <li class="lightRed list-group-item <%= repair.completed ? 'completed' : '' %> mb-1">
        <input class="form-check-input me-1" type="checkbox" value="<%= repair._id %>" <%= repair.completed ? 'checked' : '' %>>
        <p> Problem: <%= repair.content %>  </p>
        <p> Plate: <%= repair.truckPlate %> </p>
        <% if (repair.image){ %>
          <div >
            <i  class="bi bi-card-image btn btn-secondary btn-sm expand-icon" data-bs-toggle="tooltip" data-bs-placement="top" title="See photo"></i>
            <img src="<%=repair.image%>" class="img-fluid expand-img" style="display:none">
          </div>
          <% } %>
      </li>
      <% } %>
    <% } %>
    
  </ul>

  <h5 class="text-primary mt-3 text-center">Repaired:</h5>
  <ul class="list-group">
    <% for (const repair of repairs) { %>
      
      <% if (repair.completed){ %>
        
      <li class="lightBlue list-group-item <%= repair.completed ? 'completed' : '' %> mb-1">
        <input class="form-check-input me-1" type="checkbox" value="<%= repair._id %>" <%= repair.completed ? 'checked' : '' %>>
        <p> Problem: <%= repair.content %>  </p>
        <p> Plate: <%= repair.truckPlate %> </p>
        <% if (repair.image){ %>
          <div >
            <i  class="bi bi-card-image btn btn-secondary btn-sm expand-icon" data-bs-toggle="tooltip" data-bs-placement="top" title="See photo"></i>
            <img src="<%=repair.image%>" class="img-fluid expand-img" style="display:none">
          </div>
          <% } %>
      </li>
      <% } %>
    <% } %>
    
  </ul>
</div>

</main>

<a href="/logout">Logout</a>

<%- include('partials/footer') -%>