<%- include('partials/header') -%>
<%- include('partials/adminNav') -%>

<main class="container">
    <h1>Trucks details page</h1>
    <!-- Loop and show all trucks created by the admin -->
    <ul class="row list-unstyled">
        <% for(truck of trucks) {%>
          <li class="col-6 justify-content-between mt-5">
            <a href="/admin/trucks/edit/<%=truck._id%>">
                <p><%= truck.type%> - <%= truck.model%></p>
                <p><%= truck.plate%></p>
            </a>
            <!-- Delete button for each truck to delete it -->
            <form action="/admin/trucks/deleteTruck/<%=truck.id%>?_method=DELETE" method="POST">
                <button  class="fa fa-trash" aria-hidden="true" type="submit"></button>
            </form>
          </li>
        <% } %>
        </ul>
    <a href="/admin/trucks/createTruck">Create new truck</a>
</main>



<a href="/logout">Logout</a>

<%- include('partials/footer') -%>