<%- include('partials/header') -%>
<%- include('partials/DriverNav') -%>

<main class="container">
    <!-- Show truck details assigned to the driver -->
    <h1>Truck details (driver page)</h1>
    <p>Plate: <%=truck.plate%></p>
    <p>Type: <%=truck.type%></p>
    <p>Model: <%=truck.model%></p>
    <p>Chassis: <%=truck.chassis%></p>
    <p>Vignette expire day: <%=truck.expireVignette%></p>
    <p>Insurance expire day: <%=truck.expireInsurance%></p>
    <p>CMR expire day: <%=truck.expireCmr%></p>
    <p>Km: <%=truck.km%></p>
</main>

<a href="/logout">Logout</a>

<%- include('partials/footer') -%>