<%- include('partials/headerDriver', {user: user}) -%>

<main id="main" class="main">
    <!-- Show truck details assigned to the driver -->

    <div class="pagetitle">

    <% if (truck) { %>
      <div class="pagetitle">
        <h1>Truck details (driver page)</h1>
        <nav>
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/driver">Home</a></li>
            <li class="breadcrumb-item active">Truck</li>
          </ol>
        </nav>
      </div>
      <ul class="list-group">
        <li class="list-group-item">Plate: <%=truck.plate%></li>
        <li class="list-group-item">Type: <%=truck.type%></li>
        <li class="list-group-item">Model: <%=truck.model%></li>
        <li class="list-group-item">Chassis: <%=truck.chassis%></li>
        <li class="list-group-item">Vignette expire day: <%=truck.expireVignette%></li>
        <li class="list-group-item">Insurance expire day: <%=truck.expireInsurance%></li>
        <li class="list-group-item">CMR expire day: <%=truck.expireCmr%></li>
      </ul>
    <% } else { %>
      <div class="pagetitle">
      <h1>No truck assigned</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/driver">Home</a></li>
          <li class="breadcrumb-item active">Truck</li>
        </ol>
        <p>There is no truck assigned to you at this time.</p>
      </nav>
    <% } %>
  </div>

    
</main>  

<a href="/logout">Logout</a>

<%- include('partials/footer') -%>