<%- include('partials/headerAdmin', {user: user}) -%>

<main id="main" class="main">
  <div class="pagetitle">
    <h1>Trucks details page</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/admin">Home</a></li>
        <li class="breadcrumb-item active">Trucks</li>
      </ol>
    </nav>
  </div>

    <a href="/admin/trucks/createTruck" class="btn btn-primary rounded-pill"><i class="bi bi-plus-circle"></i> Add truck</a>
    <div class="row">
      <div class="col-lg-6">
        <div class="accordion" id="accordionExample">
          <% let counter = 1; %>
          <% for(truck of trucks) {%>
            <div class="accordion-item">
              <h2 class="accordion-header" id="heading<%= counter %>">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse<%= counter %>"           aria-expanded="true" aria-controls="collapse<%= counter %>">
                  <%= truck.plate%>
                </button>
              </h2>
              <div id="collapse<%= counter %>" class="accordion-collapse collapse" aria-labelledby="heading<%= counter %>"          data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <ul class="list-group">
                    <li class="list-group-item">Mark: <%=truck.type%></li>
                    <li class="list-group-item">Model: <%= truck.model%></li>
                    <li class="list-group-item">Chassis nr: <%= truck.chassis%></li>
                    <li class="list-group-item">Vignette valid until: <%= truck.expireVignette%></li>
                    <li class="list-group-item">Insurance valid until: <%= truck.expireInsurance%></li>
                    <li class="list-group-item">CMR valid until: <%= truck.expireCmr%></li>
                    <li class="list-group-item">Kilometers: <%= truck.km%></li>
                    
                    <%
                      // Filter the customoptiontrucks array to only include the custom options for the current truck
                      const truckCustomOptions = customoptiontrucks.filter(cot => cot.truckId.equals(truck._id));
                      // Loop through the filtered array and display the custom options
                      for (const customoptiontruck of truckCustomOptions) { %>
                      <li class="list-group-item"><%= customoptiontruck.name %>: <%= customoptiontruck.content %></li>
                    <% } %>
                    
                  </ul>
                  <!-- Button to delete truck -->
                  <div class="button-container" style="display: flex">
                    <form action="/admin/trucks/deleteTruck/<%=truck.id%>?_method=DELETE" method="POST">
                      <button class="btn btn-danger btn-sm bi bi-trash rounded-3" aria-hidden="true" type="submit"></button>
                    </form>

                    <!-- Button to edit truck -->
                    <form action="/admin/trucks/edit/<%=truck._id%>">
                      <button class="btn btn-primary btn-sm bi bi-pencil-square rounded-3" aria-hidden="true" type="submit"></button>
                    </form>

                  </div>
                </div>
              </div>
            </div>
            <% counter++; %>
          <% } %>
        </div><!-- End Default Accordion Example -->
      </div>
    </div>

</main>




<%- include('partials/footer') -%>